*{
    font-family: 'Roboto Condensed', sans-serif;

}
#header{
    background-color: black;
    color: #B4B1B1;
}
.container{
    padding: 50px 0;
}
.box-shadow a{
    color: #B4B1B1;
}
.box-shadow > a:hover{
    color: white;
}
.dropdown-menu a{
    color: black;
}
.dropdown-toggle{
    color: black;
}
.dropdown-toggle:hover{
    color: white;
}
.dropdown-menu a:active{
    background-color: black;
}
