{% extends "basic.html" %}
{% load bootstrap4 %}

{% block title %} Профиль пользователя {% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<h3>Все заявки</h3> <br>
{% else %}
<h3>Ваши заявки</h3> <br>
{% endif %}
<form method="GET" action="{% url 'profile' %}" class="mb-4">
  <div class="form-group">
    <label for="status">Фильтр</label>
    <select name="status" id="status" class="form-control">
      <option value="">Все</option>
      <option value="New">Новая</option>
      <option value="Accepted for work">Принята в работу</option>
      <option value="Completed">Выполнена</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Применить</button>
</form>
{% if has_applications %}
<div class="border">
    {% for application in applications %}
    <div class="p-4 border">
        <h4>{{ application.name }}</h4> <br>
        <p>{{ application.description }}</p>
        <p>Категория: <br>{{ application.category }}</p>
        <p>Статус: <br>{{ application.get_status_display }}</p>
        <p>Дата добавления: <br>{{ application.day_add }}</p>

        {% if request.user.is_superuser %}
        <p>Автор:<br> {{application.author}}</p>
        <div class="d-flex align-items-center">
            <a href="{% url 'change_status' request_id=application.id %}" class="mr-auto btn btn-dark">Изменить статус</a>
            {% endif %}

            <a href="{% url 'delete_request' request_id=application.id %}" class="ml-auto btn btn-danger">Удалить</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Заявок пока нет</p>
{% endif %}
{% endblock %}
