{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %} Профиль пользователя {% endblock %}

{% block content %}

<h3>Ваши заявки</h3> <br>
{% if has_applications %}
<div class="border">
    {% for application in applications %}
    <div class="p-4 border">
        <h4>{{ application.name }}</h4> <br>
        <p>{{ application.description }}</p>
        <p>Категория: <br>{{ application.category }}</p>
        <p>Статус: <br>{{ application.get_status_name }}</p>
        <p>Дата добавления: <br>{{ application.day_add }}</p>
    </div>

    {% endfor %}
</div>
{% else %}
<p>Заявок пока нет</p>
<p><a href="{% url 'create_request' %}" class="btn btn-dark">Создать заявку</a></p>
{% endif %}
{% endblock %}
